img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.create-profile {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.gradient-buttons {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2) 49%,
    rgba(0, 0, 0, 0.15) 51%,
    rgba(0, 0, 0, 0.05)
  );
  background-repeat: repeat-x;
}

.btn-default {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 12px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #fff;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.btn-primary {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  /* color: rgba(58, 133, 191, 0.75); */
  color: #fff;
  letter-spacing: 1px;
  line-height: 12px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 40px;
  /* background: transparent; */
  transition: all 0.3s ease 0s;
  margin-right: 15px;
}

.btn-primary:hover {
  color: #fff;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.btn-success {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  /* color: rgba(103, 192, 103, 0.75); */
  color: #fff;
  letter-spacing: 1px;
  line-height: 12px;
  border: 2px solid rgba(103, 192, 103, 0.75);
  border-radius: 40px;
  /* background: transparent; */
  transition: all 0.3s ease 0s;
}

.btn-success:hover {
  color: #fff;
  background: rgb(103, 192, 103, 0.75);
  border: 2px solid rgb(103, 192, 103, 0.75);
}

.btn-info new {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: rgba(91, 192, 222, 0.75);
  letter-spacing: 1px;
  line-height: 12px;
  border: 2px solid rgba(91, 192, 222, 0.75);
  border-radius: 40px;
  /* background: transparent; */
  transition: all 0.3s ease 0s;
}

.btn-info new:hover {
  color: #fff;
  background: rgba(91, 192, 222, 0.75);
  border: 2px solid rgba(91, 192, 222, 0.75);
}

.btn-warning {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  /* color: rgba(240, 173, 78, 0.75); */

  letter-spacing: 1px;
  line-height: 12px;
  border: 2px solid rgba(240, 173, 78, 0.75);
  border-radius: 40px;
  /* background: transparent; */
  transition: all 0.3s ease 0s;
}

.btn-warning:hover {
  color: #fff;
  background: rgb(240, 173, 78, 0.75);
  border: 2px solid rgba(240, 173, 78, 0.75);
}

.btn-danger {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  /* color: rgba(217, 83, 78, 0.75); */
  color: #fff;
  letter-spacing: 1px;
  line-height: 12px;
  border: 2px solid rgba(217, 83, 78, 0.75);
  border-radius: 40px;
  /* background: transparent; */

  transition: all 0.3s ease 0s;
}

.btn-danger:hover {
  color: #fff;
  background: rgba(217, 83, 78, 0.75);
  border: 2px solid rgba(217, 83, 78, 0.75);
}

.container-fluid {
  padding: 0 20px !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  float: left;
}

.btn-secondary {
  background-color: #53565b;
}
.btn-secondary:hover {
  color: #fff;
  background: #253136;
  /* border: 2px solid rgb(103, 192, 103, 0.75); */
}

table {
  width: 100%;
}

table,
td,
tr {
  border: 1px solid #52575b;
  text-align: left;
  font-size: 12px;
}
th {
  background-color: #a8a8a6;
  font-size: 12px;
}
.clear {
  background-color: white;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  font-size: 14px;
  font-weight: bold;
}

tr:hover {
  background-color: #beb800;
}

.status-box {
  text-align: center;
  padding: 3px;
  width: 100%;
  font-size: 12px;

  /* margin: 3px 1px 3px 1px; */
  /* background-color: rgb(103, 192, 103, 0.75); */
}

.row {
  overflow-y: scroll;
}
